<div class="container">
  <h3 class="mb">CSP Reports</h3>

  <div class="mb">
    <label class="inline-block">Your report-uri URL:</label>
    {{textfield-readonly value=model.reportUri class="control--text inline-block w--50 mb- text--center"}}
  </div>

  <div class="mb">
    {{#if addMode}}
      {{partial "add-domain-form"}}
    {{else}}
      {{d-button action="addDomain" icon="plus" label="csp_reports.add_domain" class="btn--primary"}}
    {{/if}}
  </div>

  {{#each domain in model.domains itemController="domain"}}
    <p>
      {{#link-to 'domain' domain.model.id}}{{domain.model.name}} ({{domain.model.url}}){{/link-to}}
      {{d-button action="destroy" icon="trash-o"}}
    </p>
  {{/each}}
</div>
