<div class="container">
  {{#link-to "csp-reports" class="nav-back"}}
    <i class="fa fa-arrow-left"></i>
    <span>Back</span>
  {{/link-to}}
  <h3 class="site-name">{{model.name}} <span class="nav-back">({{model.url}})</span></h3>

  <h4 class="table-title">CSP Reports</h4>

  <div class="table-filters">
    <button {{action "filter" "all"}} {{bind-attr class=":btn isAll:btn--primary"}}>{{i18n "domain.filter.all"}}</button>
    <button {{action "filter" "day"}} {{bind-attr class=":btn isToday:btn--primary"}}>{{i18n "domain.filter.today"}}</button>
    <button {{action "filter" "week"}} {{bind-attr class=":btn isWeek:btn--primary"}}>{{i18n "domain.filter.week"}}</button>
    <button {{action "filter" "month"}} {{bind-attr class=":btn isMonth:btn--primary"}}>{{i18n "domain.filter.month"}}</button>
    <button {{action "filter" "quarter"}} {{bind-attr class=":btn isQuarter:btn--primary"}}>{{i18n "domain.filter.quarter"}}</button>
    <button {{action "filter" "year"}} {{bind-attr class=":btn isYear:btn--primary"}}>{{i18n "domain.filter.year"}}</button>
  </div>

  <ul class="nav nav--tabs report-tabs">
    <li {{bind-attr class=":navbar__item isTableView:active"}}{{action "changeType" "table"}}>
      <a href="" class="navbar__link">
        <i class="sci sci__view-list"></i>
        <span>Table</span>
      </a>
    </li>
    <li {{bind-attr class=":navbar__item isGraphView:active"}} {{action "changeType" "graph"}}>
      <a href="" class="navbar__link">
        <i class="sci sci__view--graph"></i>
        <span>Graph</span>
      </a>
    </li>
  </ul>

  <div class="report">
    {{#conditional-loading-spinner condition=loading}}
      {{#if model.reports}}
        {{#if isTableView}}
          <table class="report-table">
            <tr>
              <th>Date</th>
              <th>Document URI</th>
              <th>Referrer</th>
              <th>Violated directive</th>
              <th>Original policy</th>
              <th>Blocked URI</th>
            </tr>
            {{#each report in model.reports}}
              <tr>
                <td >{{formatted-date report.createdAt "DD/MM/YYYY hh:mm A"}}</td>
                <td class="uri-col">{{report.documentUri}}</td>
                <td>{{report.referrer}}</td>
                <td>{{report.violatedDirective}}</td>
                <td>{{report.originalPolicy}}</td>
                <td class="uri-col">{{report.blockedUri}}</td>
              </tr>
            {{/each}}
          </table>
        {{else}}
          {{reports-graph model=groupedReports}}
        {{/if}}
      {{else}}
        <p>No results</p>
      {{/if}}
    {{/conditional-loading-spinner}}
  </div>
</div>
