<table class="report-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Document URI</th>
      <th>Referrer</th>
      <th>Violated directive</th>
      <th>Blocked URI</th>
    </tr>
  </thead>
  {{#each report in model.reports itemView="report-view"}}
    <tr>
      <td>{{formatted-date report.createdAt "DD/MM/YYYY hh:mm A"}}</td>
      <td class="uri-col">{{report.documentUri}}</td>
      <td>{{report.referrer}}</td>
      <td>{{report.violatedDirective}}</td>
      <td class="uri-col">{{report.blockedUri}}</td>
    </tr>
    {{#if view.showExpanded}}
      <tr>
        <td colspan="5"><b>Original Policy:</b> {{report.originalPolicy}}</td>
      </tr>
    {{/if}}
  {{/each}}
</table>
